*{
    font-family: Helvetica, sans-serif;
    
}

.info_div {
    margin: 0 25% 0 25%;
    color: #3c4142;
}

h1, h2 {
    text-align: center;
    color: #3c4142;
}

table {
    padding-bottom: 10px;
}

th {
    text-align: left;
}

iframe {
    padding-bottom: 20px;
}