* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo_h1_div {
    display: flex;
    align-items: flex-end;
}

header {
    width: 100%;
    height: 100px;
    color: #3c4142;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #ffffff;
}

nav {
    padding-bottom: 5px;
}

nav > ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #3c4142;
}

.nav_list {
    margin-right: 10px;
}

.home_img {
    width: 70%;
    border-radius: 0 3% 3% 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    padding-bottom: 15px;
    padding-top: 50px;
    font-size: 2rem;
}

p {
    padding-bottom: 15px;
    font-size: 1.2rem;
    padding-top: 15px;
}

.home_div {
    display: flex;
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    background: linear-gradient(#ffffff, #d3d3d3);
}
.events_div {
    width: 30%;
    text-align: center;
     color: #3c4142;
}
.gallery_div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(#d3d3d3, #3c4142);
}
.gallery_img {
    width: 33%;
    height: 50vh;
}
.gallery_img34 {
    width: 34%;
    height: 50vh;
}

